.groupTitlePane {
	-fx-vgap: 3px;
	-fx-border-radius: 5px 5px 5px 5px;
}

.channelView {
	-fx-border-radius: 5px;
	-fx-border-style: solid;
	-fx-border-color: gold;
	-fx-border-width: 2px;
}

.label {
	-fx-alignment: center-left;
	-fx-wrap-text: true;
	-fx-font: 16px bold ;
}